body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(192, 192, 192), rgb(85, 85, 85));
}

div#app {
    border: 0.1rem solid black;
    border-radius: 1rem; 
    padding: 1rem;
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    
}

#ariaAlert {
    width: 0;
    height: 0;
    overflow: hidden;
}

div#cartelas {
    border: 0.1rem solid black;
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

div#gameControl {
    padding: 1rem;
    background-color: chocolate;
    width: calc(100% - 2rem);
    height: fit-content;
}

div#gameControl #btnPausar {
    display: none;
}

#btnContinuarJogo {
    display: none;
}

div#cartelaList {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
}

div#jogo {
    border: 0.1rem solid black;
    border-left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div#jogo > h1 {
    align-self: center;
}

div#numJogados {
    flex-grow: 1;
    border-top: 0.1rem solid black;
    padding: 0.5rem;
    display: block;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, 1.5rem);
    grid-template-rows: repeat(auto-fill, 1.5rem);
    gap: 0.5rem;
}

div#numJogados > section > p {
    margin-top: 0.3rem;
}

td i {
    position: absolute;
    top: 0;
    left: 0.2rem;
    font-size: 200%;
}

div#numJogados > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid black;
    border-radius: 50%;
}

.cartela {
    display: flex;
    flex-direction: column;
}

.cartelaInfo{
    display: flex;
}

.cartelaInfo b{
    width: 50%;
}

.cartelaInfo b:nth-of-type(2){
    text-align: end;
}

.cartela table {
    border-collapse: collapse;
}

.cartela th, .cartela td {
    width: 2rem;
    height: 2rem;
    padding: 0;
    text-align: center;
}

.cartela td {
    border: 0.1rem solid black;
    position: relative
}
